/transaction.mv.db
/.idea/
/target/
/.idea/dictionaries/
/.idea/.gitignore
/.idea/amplicode-jpa.xml
/.idea/amplicode-settings.xml
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/workspace.xml
/src/main/resources/application-local.yml
