server:
  port: 8080

spring:
  # Первая БД (knowledge DB)- для получения транзакций
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:file:./transaction;DB_CLOSE_DELAY=-1;AUTO_SERVER=TRUE;MODE=PostgreSQL
    username:
    password:

  # Вторая БД (rules DB) — для динамических правил
  rules-datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/starbank_rules
    username: postgres
    password: 12345

  jpa:
    hibernate:
      ddl-auto: none

  liquibase:
    enabled: false

  h2:
    console:
      enabled: true
      path: /h2-console

  telegram:
    bot:
      token: ${TELEGRAM_BOT_TOKEN:}
      username: ${TELEGRAM_BOT_USERNAME:Recommendations100500Bot}
      rate-limit:
        cooldown-ms: 1000
        window-ms: 60000
        max-per-window: 20
        max-cache-size: 10000
        expire-after-access-ms: 90000
        feedback-cooldown-ms: 10000


logging:
  level:
    root: INFO
    ru.starbank.recommendation: INFO
    org.springframework.jdbc.core: INFO
    com.zaxxer.hikari: INFO
    ru.starbank.recommendation.domain.rules.engine: DEBUG

