server:
  port: 8080

spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:file:./transaction;DB_CLOSE_DELAY=-1;AUTO_SERVER=TRUE;MODE=PostgreSQL
    username:
    password:
  h2:
    console:
      enabled: true
      path: /h2-console

logging:
  level:
    root: INFO
    ru.starbank.recommendation: INFO
    org.springframework.jdbc.core: INFO
    com.zaxxer.hikari: INFO

